.fpcontent{
    padding: 20px;
    justify-items: center;
}
.fpContainer{
    height: auto;
    background-color: #4B0082;
    justify-items: center;
    border-radius: 10px;
    padding: 10px;
}
.cpasswordrules{
    background-color: rgba(227, 235, 255, 1);
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    color: #0D1B4C;
    font-family: "Epilogue";
}
@media (max-width : 450px ){
    .fpContainer{
        height: 300px;
    }
} 